# Archivos y carpetas comunes a ignorar
vendor/
node_modules/
.env
.env.local
*.log
*.cache
*.tmp
*.bak

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de compilación o temporales
*.swp
*.swo

# Configuración de IDE (por si usáis distintos)
.vscode/
.idea/

# Docker
docker-data/
